@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Kalam&family=Poppins:wght@300&family=Press+Start+2P&family=Roboto+Slab&family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Heebo:wght@600&family=Roboto+Slab&family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Dosis&family=Heebo:wght@600&family=Roboto+Slab&family=Titillium+Web&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
  }
input[type="text"] {
    width: 30%;
    padding: 15px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 15px;
}
input[type="text"]:focus {
    border: 3px solid #555;
}
.inferior{
    margin-top: 7%;
}
.container {
    background-color: rgba(6, 6, 6, 0.737);
    width: 50%;
    height: auto;
    min-height: 400px;
    font-family: 'Playfair', serif;
    color: white;
    margin: 20px auto; 
    padding: 60px 0px 20px 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border-radius: 15px;
}
.question-box label{
  font-size: 25px;
  padding: 20px 10px 0px 20px;
}
.perguntas {
    width: 250%;
    height: auto;
    font-family: 'Playfair', serif;
    font-size: 16px;
    color: white;
    margin: 20px auto;
    display: block;
}
.logo {
    height: 50px;
  }
  .item {
    margin: 15px;
    color: rgb(26, 60, 59);
  }
  .item:hover{
    transition: 0.2s;
    background-color: #cdcdcd59;
    padding: 3px;
    border-radius: 10px;
  }
  header {
    font-family: 'Roboto Slab', serif;
    background-color: rgb(186 234 250 / 58%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
  }
  main{
    padding-top:75px;
    justify-content: center;
    }
  #botaoadicionar {
    background-color: #858585;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: -2px 2px 0 rgb(3,0,22);
    cursor:pointer;
    letter-spacing: 1px;
  }
#botaoenviar {
    background-color: #858585;
    padding: 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: -2px 2px 0 rgb(3,0,22);
    cursor:pointer;
    letter-spacing: 1px;
}
.deletar {
  background-color: rgb(33, 207, 237);
  padding: 15px;
  font-size: 20px;
  border-radius: 12px;
  margin-top: 15px;
  margin-left: 10px;
  cursor:pointer;
  padding: 6px;
  font-size: 15px;
}
.question-box {
  display: flex;
  flex-direction: row;
  align-items: start;
}
  #botaoenviar:hover{
    box-shadow: -4px 4px 0 rgb(3,0,22);
    filter: brightness(.8);
  }
  .botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 30%;
    padding: 40px 0px 0px 180px;
  }
  #botaoadicionar:hover{
    box-shadow: -4px 4px 0 rgb(3,0,22);
    filter: brightness(.8)
  }
  #contato{
    font-size: 40px;
  }
  footer {
    padding: 50px;
    font-size: 18px;
  }
  #sup{
    color: #0000EE;
  }
  .inferior {
    background-color: rgb(186 234 250 / 58%);
  }
body{
  background-color: #f5f5f5;
}
.container2 {
    
  background-color: rgba(6, 6, 6, 0.737);
  width: 50%;
  height: auto;
  min-height: 400px;
  font-family: 'Playfair', serif;
  color: white;
  margin: 20px auto; 
  padding: 60px 0px 20px 20px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  border-radius: 15px;
    
}
.perguntas-armazenadas {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.storage-box {
    margin-top: 20px;
    padding: 20px;
}
.storage-box h2 {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    color: white;
}