styleredefinir.css
body{
background-color: white;
padding: 50px 50px;
}
input{
width: 280px;
height: 35px;
font-family: 'Playfair', serif;
font-size: 16px;
color: rgb(3, 3, 3);
margin: 20px auto;
display: block;
border-radius: 10px;
}
input::placeholder {
opacity: 1;
text-align: center;
color:black
}
a {
text-decoration: none;
}
button:hover{
box-shadow: -4px 4px 0 rgb(3,0,22);
filter: brightness(.8)
}
#form_title{
font-family: 'Playfair', serif;
color: white;
text-shadow: 1px 1px 5px black;
}
#center {
width: 500px;
height: 500px;
position: absolute;
left: 50%;
top: 320px; 
margin-left: -250px;
margin-top: -120px;
}
#login-total{
background-image: url("");
width: 400px;
height: 300px;
background: rgba(1, 58, 77, 0.9);
border-radius: 25px;
position: absolute;
padding: 30px 30px;
font-family: 'Playfair', serif;
color: white;
background-blend-mode: multiply;
}
#reset {
width: 100px;
margin-left: 300px;
border-radius: 25px;
padding: 15px;
background: #C3c3c3;    
box-shadow: -2px 2px 0 rgb(3,0,22);
cursor:pointer;
letter-spacing: 1px;
border: 2px solid black;
}
#reset:hover{
box-shadow: -4px 4px 0 rgb(3,0,22);
filter: brightness(.8)
}